* {
    margin: 0;
}
body {
    overflow: hidden;
    text-align: center;
    background-color: gray;
}
p {
    color: white;
    margin-top: 10vh;
    margin-bottom: 2vh;
}
#container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#canvas {
    background-color: black;
}